@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #ca5151;
  line-height: 1.6;
}

ul {
  list-style: none;
}


header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.container {
  position:absolute;
  max-width: 768px;
  margin: auto;
  padding: 100px;
}
